<!DOCTYPE html>
<html>
<head>
  <title>FLYMAX</title>
  <style>
    hr {color: #CD950C; border-color: #CD950C; height: 1px}
    h1 {font-family:Calibri; color: #FEC00C; font-size: 45px}
    h2 {font-family:Calibri; color: #FEC00C; font-size: 30px}
    a:link  {color: #CD950C; font:Calibri; text-decoration:none}
    a:visited  {color: #CD950C; font:Calibri; text-decoration:none}
  </style>
</head>
<body>

<a name = "Top"> </a>
<h1>
>>> ITC CRVM flymax
</h1>
  <!--begin.rcode, echo=FALSE
  opts_chunk$set(echo=FALSE, dpi=96, fig.width=13, fig.height=9, warning=FALSE, dev="svg", cache = FALSE, 
   fig.path="../figure/")
    end.rcode-->

<hr>
<h2><a name = "Germany">Germany</a></h2>
<!--begin.rcode Germany, echo=FALSE
    try(flymax("DE", win = FALSE))
    end.rcode-->
<hr>
<h2><a name = "France">France</a></h2>
<!--begin.rcode France
    try(flymax("FR", win = FALSE))
    end.rcode-->
<hr>
<h2><a name = "Italy">Italy</a></h2>
<!--begin.rcode Italy
    try(flymax("IT", win = FALSE))
    end.rcode-->
<hr>
<h2><a name = "Spain">Spain</a></h2>
<!--begin.rcode Spain
    try(flymax("SP", win = FALSE))
    end.rcode-->
<hr>
<h2><a name = "Netherlands">Netherlands</a></h2>
<!--begin.rcode Netherlands
    try(flymax("NE", win = FALSE))
    end.rcode-->
<hr>
<h2><a name = "Austria">Austria</a></h2>
<!--begin.rcode Austria
    try(flymax("AS", win = FALSE))
    end.rcode-->
<hr>
<h2><a name = "Belgium">Belgium</a></h2>
<!--begin.rcode Belgium
    try(flymax("BE", win = FALSE))
    end.rcode-->
<hr>
<h2><a name = "Ireland">Ireland</a></h2>
<!--begin.rcode Ireland
    try(flymax("IR", win = FALSE))
    end.rcode-->
<hr>
<h2><a name = "Portugal">Portugal</a></h2>
<!--begin.rcode Portugal
    try(flymax("PO", win = FALSE))
    end.rcode-->
<hr>
<h2><a name = "Finland">Finland</a></h2>
<!--begin.rcode Finland
    try(flymax("FI", win = FALSE))
    end.rcode-->
<h2><a name = "United Kingdom">United Kingdom</a></h2>
<!--begin.rcode UK
    try(flymax("GB", win = FALSE))
    end.rcode-->


</body>
</html>

