<!DOCTYPE html>
<html>
<head>
  <title>Asset swap boxes</title>
  <style>
    hr {color: #CD950C; border-color: #CD950C; height: 1px}
    h1 {font-family:Calibri; color: #FEC00C; font-size: 45px}
    h2 {font-family:Calibri; color: #FEC00C; font-size: 30px}
    a:link  {color: #CD950C; font:Calibri; text-decoration:none}
    a:visited  {color: #CD950C; font:Calibri; text-decoration:none}
    div {float:left;}
  </style>
</head>
<body>

<a name = "Top"> </a>
<h1>
>>> CRVM Asset Swap Boxes
</h1>
  <!--begin.rcode, echo=FALSE
  opts_chunk$set(echo=FALSE, dpi=96, fig.width=9, fig.height=5, warning=FALSE, dev="svg", cache = FALSE, 
   fig.path="../figure/")
    end.rcode-->

    <!--begin.rcode seekbox
    seekbox(bigaswobj = passparams$bigaswobj, dv01neutral = passparams$dv01neutral, 
    usereturns = passparams$usereturns, minz = passparams$minz, minbps = passparams$minbps, 
    country_correl_bounds = passparams$country_correl_bounds, asw_correl_bounds = passparams$asw_correl_bounds,
    trendcor = passparams$trendcor, retcor = passparams$retcor, 
    numclusts = passparams$numclusts, numperclust = passparams$numperclust, 
    coupon_diff_max = passparams$coupon_diff_max)
      end.rcode-->
</body>
</html>

