<!DOCTYPE html>
<html>
<head>
  <title>Standard Spreads</title>
  <style>
    hr {color: #CD950C; border-color: #CD950C; height: 1px}
    h1 {font-family:Calibri; color: #FEC00C; font-size: 45px}
    h2 {font-family:Calibri; color: #FEC00C; font-size: 30px}
    a:link  {color: #CD950C; font:Calibri; text-decoration:none}
    a:visited  {color: #CD950C; font:Calibri; text-decoration:none}
  </style>
</head>
<body>

<a name = "Top"> </a>
<h1>
>>> CRVM Standard Spreads
</h1>
  <!--begin.rcode, echo=FALSE
  opts_chunk$set(echo=FALSE, dpi=96, fig.width=9, fig.height=8, warning=FALSE, dev="png", cache = FALSE, 
   fig.path="../figure/")
    end.rcode-->

  <!--begin.rcode, echo=FALSE
  opts_chunk$set(echo=FALSE, dpi=96, fig.width=17, fig.height=17, warning=FALSE, dev="png", cache = FALSE, 
   fig.path="../figure/")
    end.rcode-->

    <!--begin.rcode sspc4, echo=FALSE

    splot(ssobj, win = F, wot = "all", wotlim = c(1, 1))
    splot(ssobj, win = F, wot = "all", wotlim = c(2, 2))
    splot(ssobj, win = F, wot = "all", wotlim = c(3, 3))
    splot(ssobj, win = F, wot = "all", wotlim = c(1, 2))
    splot(ssobj, win = F, wot = "all", wotlim = c(1, 3))
    splot(ssobj, win = F, wot = "all", wotlim = c(2, 3))
      end.rcode-->
</body>
</html>

