<!DOCTYPE html>
<html>
<head>
  <title>CRVM</title>
  <style>
    hr {color: #CD950C; border-color: #CD950C; height: 1px}
    h1 {font-family:Calibri; color: #FEC00C; font-size: 45px}
    h2 {font-family:Calibri} 
    a:link  {color: #CD950C; font:Calibri; text-decoration:none}
    a:visited  {color: #CD950C; font:Calibri; text-decoration:none}
  </style>
</head>
<body>

<a name = "Top"> </a>
<h1>
>>> CRVM
</h1>

<hr>
<a href="#Top">Top</a> | <a href = "#Changes">Yield Curve changes</a> | <a href = "#Zscores">Spread analyses</a> | 
<a href="#Germany">Germany</a> | <a href="#France">France</a> | <a href="#Italy">Italy</a> | 
<a href="#Spain">Spain</a> | <a href="#Holland">Holland</a> | <a href="#Austria">Austria</a> | <a href="#Belgium">Belgium</a> |
<a href="#Finland">Finland</a> | <a href="#Portugal">Portugal</a> | <a href="#Ireland">Ireland</a> 


  <!--begin.rcode, echo=FALSE
  opts_chunk$set(echo=FALSE, dpi=96, fig.width=9, fig.height=10, warning=FALSE, 
  dev="bmp", cache = FALSE, fig.path="../figure/")
    end.rcode-->


    <hr>
  <h2><a name="Changes">Yield curve changes</a></h2>
<a href="#Top">Top</a> | <a href = "#Changes">Yield Curve changes</a> | <a href = "#Zscores">Spread analyses</a> | 
<a href="#Germany">Germany</a> | <a href="#France">France</a> | <a href="#Italy">Italy</a> | 
<a href="#Spain">Spain</a> | <a href="#Holland">Holland</a> | <a href="#Austria">Austria</a> | <a href="#Belgium">Belgium</a>
<a href="#Finland">Finland</a> | <a href="#Portugal">Portugal</a> | <a href="#Ireland">Ireland</a> 
<!--begin.rcode changer, echo=FALSE, fig.height=3.5, fig.width=9
    changer(win=FALSE)
    end.rcode-->


  <hr>
  <h2><a name="Zscores">Spread analyses</a></h2>
<a href="#Top">Top</a> | <a href = "#Changes">Yield Curve changes</a> | <a href = "#Zscores">Spread analyses</a> | 
<a href="#Germany">Germany</a> | <a href="#France">France</a> | <a href="#Italy">Italy</a> | 
<a href="#Spain">Spain</a> | <a href="#Holland">Holland</a> | <a href="#Austria">Austria</a> | <a href="#Belgium">Belgium</a>
<a href="#Finland">Finland</a> | <a href="#Portugal">Portugal</a> | <a href="#Ireland">Ireland</a> 
  <!--begin.rcode spreads, echo=FALSE, fig.height=5, fig.width=9
    spreadout(win = FALSE)
    end.rcode-->


  <hr>
  <h2><a name="Germany">Germany</a></h2>
<a href="#Top">Top</a> | <a href = "#Changes">Yield Curve changes</a> | <a href = "#Zscores">Spread analyses</a> | 
<a href="#Germany">Germany</a> | <a href="#France">France</a> | <a href="#Italy">Italy</a> | 
<a href="#Spain">Spain</a> | <a href="#Holland">Holland</a> | <a href="#Austria">Austria</a> | <a href="#Belgium">Belgium</a>
<a href="#Finland">Finland</a> | <a href="#Portugal">Portugal</a> | <a href="#Ireland">Ireland</a> 
  <!--begin.rcode germany
    lightplot("DE", win = FALSE, years = 3)
    lightbox("DE", win = FALSE, years = 3)
    lightbox("DE", win = FALSE, years = 3, usePC = TRUE)
    end.rcode-->

  <hr>
  <h2><a name="France">France</a></h2>
<a href="#Top">Top</a> | <a href = "#Changes">Yield Curve changes</a> | <a href = "#Zscores">Spread analyses</a> | 
<a href="#Germany">Germany</a> | <a href="#France">France</a> | <a href="#Italy">Italy</a> | 
<a href="#Spain">Spain</a> | <a href="#Holland">Holland</a> | <a href="#Austria">Austria</a> | <a href="#Belgium">Belgium</a>
<a href="#Finland">Finland</a> | <a href="#Portugal">Portugal</a> | <a href="#Ireland">Ireland</a> 
  <!--begin.rcode france
    lightplot("FR", win = FALSE, years = 3)
    lightbox("FR", win = FALSE, years = 3)
    lightbox("FR", win = FALSE, years = 3, usePC = TRUE)
    end.rcode-->
    
  <hr>
  <h2><a name="Italy">Italy</a></h2>
<a href="#Top">Top</a> | <a href = "#Changes">Yield Curve changes</a> | <a href = "#Zscores">Spread analyses</a> | 
<a href="#Germany">Germany</a> | <a href="#France">France</a> | <a href="#Italy">Italy</a> | 
<a href="#Spain">Spain</a> | <a href="#Holland">Holland</a> | <a href="#Austria">Austria</a> | <a href="#Belgium">Belgium</a>
<a href="#Finland">Finland</a> | <a href="#Portugal">Portugal</a> | <a href="#Ireland">Ireland</a> 
  <!--begin.rcode italy
    lightplot("IT", win = FALSE, years = 3)
    lightbox("IT", win = FALSE, years = 3)
    lightbox("IT", win = FALSE, years = 3, usePC = TRUE)
    end.rcode-->

  <hr>
  <h2><a name="Spain">Spain</a></h2>
<a href="#Top">Top</a> | <a href = "#Changes">Yield Curve changes</a> | <a href = "#Zscores">Spread analyses</a> | 
<a href="#Germany">Germany</a> | <a href="#France">France</a> | <a href="#Italy">Italy</a> | 
<a href="#Spain">Spain</a> | <a href="#Holland">Holland</a> | <a href="#Austria">Austria</a> | <a href="#Belgium">Belgium</a>
<a href="#Finland">Finland</a> | <a href="#Portugal">Portugal</a> | <a href="#Ireland">Ireland</a> 
  <!--begin.rcode spain
    lightplot("SP", win = FALSE, years = 3)
    lightbox("SP", win = FALSE, years = 3)
    lightbox("SP", win = FALSE, years = 3, usePC = TRUE)
    end.rcode-->

  <hr>
  <h2><a name="Holland">Holland</a></h2>
<a href="#Top">Top</a> | <a href = "#Changes">Yield Curve changes</a> | <a href = "#Zscores">Spread analyses</a> | 
<a href="#Germany">Germany</a> | <a href="#France">France</a> | <a href="#Italy">Italy</a> | 
<a href="#Spain">Spain</a> | <a href="#Holland">Holland</a> | <a href="#Austria">Austria</a> | <a href="#Belgium">Belgium</a>
<a href="#Finland">Finland</a> | <a href="#Portugal">Portugal</a> | <a href="#Ireland">Ireland</a> 
  <!--begin.rcode netherlands
    lightplot("NE", win = FALSE, years = 3, model = "asvBoth")
    lightbox("NE", win = FALSE, years = 3, model = "asvBoth")
    lightbox("NE", win = FALSE, years = 3, usePC = TRUE, model = "asvBoth")
    end.rcode-->
    
  <hr>
  <h2><a name="Austria">Austria</a></h2>
<a href="#Top">Top</a> | <a href = "#Changes">Yield Curve changes</a> | <a href = "#Zscores">Spread analyses</a> | 
<a href="#Germany">Germany</a> | <a href="#France">France</a> | <a href="#Italy">Italy</a> | 
<a href="#Spain">Spain</a> | <a href="#Holland">Holland</a> | <a href="#Austria">Austria</a> | <a href="#Belgium">Belgium</a>
<a href="#Finland">Finland</a> | <a href="#Portugal">Portugal</a> | <a href="#Ireland">Ireland</a> 
  <!--begin.rcode austria
    lightplot("AS", win = FALSE, years = 3)
    lightbox("AS", win = FALSE, years = 3)
    lightbox("AS", win = FALSE, years = 3, usePC = TRUE)
    end.rcode-->

  <hr>
  <h2><a name="Belgium">Belgium</a></h2>
<a href="#Top">Top</a> | <a href = "#Changes">Yield Curve changes</a> | <a href = "#Zscores">Spread analyses</a> | 
<a href="#Germany">Germany</a> | <a href="#France">France</a> | <a href="#Italy">Italy</a> | 
<a href="#Spain">Spain</a> | <a href="#Holland">Holland</a> | <a href="#Austria">Austria</a> | <a href="#Belgium">Belgium</a> 
<a href="#Finland">Finland</a> | <a href="#Portugal">Portugal</a> | <a href="#Ireland">Ireland</a> 
  <!--begin.rcode belgium
    lightplot("BE", win = FALSE, years = 3)
    lightbox("BE", win = FALSE, years = 3)
    lightbox("BE", win = FALSE, years = 3, usePC = TRUE)
    end.rcode-->

  <hr>
  <h2><a name="Finland">Finland</a></h2>
<a href="#Top">Top</a> | <a href = "#Changes">Yield Curve changes</a> | <a href = "#Zscores">Spread analyses</a> | 
<a href="#Germany">Germany</a> | <a href="#France">France</a> | <a href="#Italy">Italy</a> | 
<a href="#Spain">Spain</a> | <a href="#Holland">Holland</a> | <a href="#Austria">Austria</a> | <a href="#Belgium">Belgium</a> 
<a href="#Finland">Finland</a> | <a href="#Portugal">Portugal</a> | <a href="#Ireland">Ireland</a> 
  <!--begin.rcode finland
    lightplot("FI", win = FALSE, years = 3)
    lightbox("FI", win = FALSE, years = 3)
    lightbox("FI", win = FALSE, years = 3, usePC = TRUE)
    end.rcode-->

  <hr>
  <h2><a name="Ireland">Ireland</a></h2>
<a href="#Top">Top</a> | <a href = "#Changes">Yield Curve changes</a> | <a href = "#Zscores">Spread analyses</a> | 
<a href="#Germany">Germany</a> | <a href="#France">France</a> | <a href="#Italy">Italy</a> | 
<a href="#Spain">Spain</a> | <a href="#Holland">Holland</a> | <a href="#Austria">Austria</a> | <a href="#Belgium">Belgium</a> 
<a href="#Finland">Finland</a> | <a href="#Portugal">Portugal</a> | <a href="#Ireland">Ireland</a> 
  <!--begin.rcode ireland
    lightplot("IR", win = FALSE, years = 3)
    lightbox("IR", win = FALSE, years = 3)
    lightbox("IR", win = FALSE, years = 3, usePC = TRUE)
    end.rcode-->

  <hr>
  <h2><a name="Portugal">Portugal</a></h2>
<a href="#Top">Top</a> | <a href = "#Changes">Yield Curve changes</a> | <a href = "#Zscores">Spread analyses</a> | 
<a href="#Germany">Germany</a> | <a href="#France">France</a> | <a href="#Italy">Italy</a> | 
<a href="#Spain">Spain</a> | <a href="#Holland">Holland</a> | <a href="#Austria">Austria</a> | <a href="#Belgium">Belgium</a> 
<a href="#Finland">Finland</a> | <a href="#Portugal">Portugal</a> | <a href="#Ireland">Ireland</a> 
  <!--begin.rcode portugal
    lightplot("PO", win = FALSE, years = 3)
    lightbox("PO", win = FALSE, years = 3)
    lightbox("PO", win = FALSE, years = 3, usePC = TRUE)
    end.rcode-->

  <hr>

  <!--begin.rcode, echo=FALSE
  opts_chunk$set(echo=FALSE, dpi=96, fig.width=9, fig.height=5.5, warning=FALSE, dev="bmp", cache = FALSE)
    end.rcode-->

<hr>
</body>
</html>
